.back-all.list.table{
    width: 80%;
    margin:0.1em auto;
    text-align:center;    
}
.back-all.list.table tr{
    background: rgba(255,255,255,0.5);
}
.back-all.list.table tr:hover{   
    background: rgba(240,240,240,0.5);
}
.back-all.list.table th,
.back-all.list.table td{
	padding:1em 1em 1em 1em;    
    border:1px solid rgb(43,165,230);
}
.back-all.list.mini-image{
    width:5em;
}