#place-holder{
    #border: 1px solid red;
}
.back-all.add.placeholder,
.back-all.edit.placeholder,
.back-all.seo.placeholder,
.back-all.main.placeholder,
.back-all.sub.placeholder,
.back-all.shipping.placeholder,
.back-all.placeholder{
    #text-align: center;
    #border: 1px solid black;
    margin-top: 1em;
}
table, th, td {
    border: 1px solid black;
    vertical-align:middle;
}
.back-all.add.table,
.back-all.edit.table,
.back-all.seo.table,
.back-all.main.table,
.back-all.sub.table{
    width:46.5em; /*same as top menu ph*/
    margin:0.1em auto;
    border: 1px solid lime;
}
.back-all.shipping.table{
    margin:0.1em auto;
    border: 1px solid lime;
}
.back-all.add.table th,
.back-all.add.table td,
.back-all.edit.table th,
.back-all.edit.table td,
.back-all.seo.table th,
.back-all.seo.table td,
.back-all.main.table th,
.back-all.main.table td,
.back-all.sub.table th,
.back-all.sub.table td,
.back-all.shipping.table th,
.back-all.shipping.table td,
.back-all.index.table th,
.back-all.index.table td{
    #border: 1px solid lime;
    padding:0.5em;
}
.back-all.add.table th,
.back-all.edit.table th {
    width:15%;
    font-weight: bold;
}
.back-all.seo.table th {
    width:30%;
    font-weight: bold;
}
.back-all.add.table td,
.back-all.edit.table td {
    width:35%;
}
.back-all.seo.table td {
    width:70%;
}
.back-all.main.table tr td:first-child{
    width: 4em;
}
.back-all.add.table input, .back-all.add.table textarea, .back-all.add.table select,
.back-all.edit.table input, .back-all.edit.table textarea, .back-all.edit.table select,
.back-all.seo.table input, .back-all.seo.table textarea, .back-all.seo.table select,
.back-all.main.table input, .back-all.main.table textarea, .back-all.main.table select,
.back-all.sub.table input, .back-all.sub.table textarea, .back-all.sub.table select,
.back-all.table input, .back-all.table textarea, .back-all.table select{
    width:99%;
    height:99%;
}
.back-all.shipping.table input, .back-all.shipping.table textarea, .back-all.shipping.table select{
    width:93%;
    height:93%;
}
input[type=radio]{
    width:0.5em;
    height:0.5em;
}
.back-all.add.table textarea,
.back-all.edit.table textarea,
.back-all.seo.table textarea,
.back-all.shipping.table textarea,
.back-all.all.table textarea{
    height:10em;
}
.back-all.add.table .back-all.add.div,
.back-all.edit.table .back-all.edit.div{
    min-height:10em;
}
textarea, 
select,
option,
input[type=text], 
input[type=checkbox],
input[type=radio],
input[type=submit],
input[type=button]{
    margin:0.1em;
    padding:0.2em;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus, 
select:focus,
option:focus,
input[type=text]:focus, 
input[type=checkbox]:focus,
input[type=checkbox]:checked,
input[type=radio]:focus,
input[type=radio]:checked,
input[type=submit]:hover,
input[type=button]:hover{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=submit],
input[type=button]{
    background-color: #eee;
    border-color: rgba(238,238,238, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(238,238,238, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(238,238,238, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(238,238,238, 0.6);
}