#backroom-top-menu,
#backroom-top-menu ul,
#backroom-top-menu ul li,
#backroom-top-menu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#backroom-top-menu {
  position:fixed;
  top:0.5em;
  left: 0.5em;
  width: 200px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}
#backroom-top-menu ul ul {
  display: none;
}
#backroom-top-menu > ul > li.active > ul {
  display: block;
}
.align-right {
  float: right;
}
#backroom-top-menu > ul > li > a {
/*   padding: 15px 20px;
  border-left: 1px solid #1682ba;
  border-right: 1px solid #1682ba;
  border-top: 1px solid #1682ba;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background: #36aae7;
  background: -webkit-linear-gradient(#36aae7, #1fa0e4);
  background: -moz-linear-gradient(#36aae7, #1fa0e4);
  background: -o-linear-gradient(#36aae7, #1fa0e4);
  background: -ms-linear-gradient(#36aae7, #1fa0e4);
  background: linear-gradient(#36aae7, #1fa0e4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15); */
  padding: 15px 20px;
  border-left: 1px solid #006ad1;
  border-right: 1px solid #006ad1;
  border-top: 1px solid #006ad1;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background: #1e90ff;
  background: -webkit-linear-gradient(#1e90ff, #0483ff);
  background: -moz-linear-gradient(#1e90ff, #0483ff);
  background: -o-linear-gradient(#1e90ff, #0483ff);
  background: -ms-linear-gradient(#1e90ff, #0483ff);
  background: linear-gradient(#1e90ff, #0483ff);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
#backroom-top-menu > ul > li > a:hover,
#backroom-top-menu > ul > li.active > a,
#backroom-top-menu > ul > li.open > a {
/*   color: #eeeeee;
  background: #1fa0e4;
  background: -webkit-linear-gradient(#1fa0e4, #1992d1);
  background: -moz-linear-gradient(#1fa0e4, #1992d1);
  background: -o-linear-gradient(#1fa0e4, #1992d1);
  background: -ms-linear-gradient(#1fa0e4, #1992d1);
  background: linear-gradient(#1fa0e4, #1992d1); */
  color: #eeeeee;
  background: #0483ff;
  background: -webkit-linear-gradient(#0483ff, #0077ea);
  background: -moz-linear-gradient(#0483ff, #0077ea);
  background: -o-linear-gradient(#0483ff, #0077ea);
  background: -ms-linear-gradient(#0483ff, #0077ea);
  background: linear-gradient(#0483ff, #0077ea);
}
#backroom-top-menu > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #1682ba;
}
#backroom-top-menu > ul > li:last-child > a,
#backroom-top-menu > ul > li.last > a {
  border-bottom: 1px solid #1682ba;
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
#backroom-top-menu > ul > li > a:hover > span::after,
#backroom-top-menu > ul > li.active > a > span::after,
#backroom-top-menu > ul > li.open > a > span::after {
  border-color: #eeeeee;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
#backroom-top-menu ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #32373e;
  border-left: 1px solid #32373e;
  border-right: 1px solid #32373e;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #eeeeee;
  background: #49505a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#backroom-top-menu ul ul li:hover > a,
#backroom-top-menu ul ul li.open > a,
#backroom-top-menu ul ul li.active > a {
  background: #424852;
  color: #ffffff;
}
#backroom-top-menu ul ul li:first-child > a {
  box-shadow: none;
}
#backroom-top-menu ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
#backroom-top-menu ul ul ul li a {
  padding-left: 30px;
}
#backroom-top-menu > ul > li > ul > li:last-child > a,
#backroom-top-menu > ul > li > ul > li.last > a {
  border-bottom: 0;
}
#backroom-top-menu > ul > li > ul > li.open:last-child > a,
#backroom-top-menu > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
#backroom-top-menu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
#backroom-top-menu ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
#backroom-top-menu ul ul li.active > a::after,
#backroom-top-menu ul ul li.open > a::after,
#backroom-top-menu ul ul li > a:hover::after {
  border-color: #ffffff;
}


/*
#backroom-top-menu{
    width:37em;
	margin:0em auto;
	font-size:1.5em;
    line-height:1.5em;
    color: rgb(111,26,153);
    border: 1px solid lime;
}
#backroom-top-menu > ul {
    list-style-type:none;
    cursor: default;
}
#backroom-top-menu > ul > li{
    display:inline-block;
    position:relative;
    padding:0.3em 0.5em;
    text-align:center;
    #width:
}
#backroom-top-menu > ul > li:hover{
    background-color: rgb(255,248,175);
}
#backroom-top-menu > ul > li > ul{
    list-style-type:none;
    visibility:hidden;
    position:absolute;
    left:-50%;
    width:200%;/*sprawimy że będzie on o półtora raza szerszy od swojego elementu rodzica, czyli elementu*//*
    text-align:center;
    background-color: rgb(255,255,255);
}

#backroom-top-menu > ul > li:hover > ul{
    visibility:visible;
    position:absolute;   
}
#backroom-top-menu > ul > li > ul > li{
    padding:0.3em 0.5em;
    line-height:1.5em;
}
#backroom-top-menu > ul > li > ul > li:hover{
    background-color: rgb(255,248,175);
}
.active{
    color:lime;
}
*/