/*full square*/
.product-full-square{
    display:block;
    margin:0.25em 0em 0.25em 0.5em;
    border:1px solid rgba(255,255,255,0.5);
    #vertical-align:middle;/*dziwne*//*nie dziwne tylko inline-block*/
    position:relative;
    #top:0px;
    width: 70.42em;/*wrapper4 - margin*/
    min-height: 34.67em;/*wrapper4 - margin*/
}
.full-up-place-holder{
    position:relative;
    #border:1px solid yellow;
    height:18em;
}
.full-down-place-holder{
    position:relative;
    border:0.001em solid transparent !important;
}
.full-mini-img{
    width:10em;
    display:inline-block;
    margin:0.25em;
}
.full-name{
    position:absolute;
    margin-top:0.25em;
    margin-left:1em;
    #text-align:center;
    display:inline-block;
    font-size:3em;
    #border:1px solid black;
    padding:0.1em 0.2em 0.2em 0.2em;
}
.color{
    color:black;
}
.full-description-button{
    position:absolute;
    top:0.25em;
    width:5em;
    margin:0.25em;
    height:3em;
    background:silver;
}
.full-gallery-button{
    position:absolute;
    top:0.25em;
    left:6em;
    width:5em;
    margin:0.25em;
    height:3em;
    background:silver;   
}

.full-other-button{
    position:absolute;
    top:0.25em;
    left:12em;
    width:5em;
    margin:0.25em;
    height:3em;
    background:silver;
}
.full-click{
    cursor:pointer;
    border-top-right-radius:25px;
    text-align:center;
}
.full-click.active{
    color:red;
    background:white;
    cursor:pointer;
}
.full-description-container{
    #position:relative;
    #top:20em;
    margin:0.25em;
    margin-top:3.5em;
    min-height:15em;
    #border:1px solid red;
    background:white;
    padding:0.5em;
    display:none;
}
.full-description-button.active ~ .full-description-container{
    display:block;
}
.full-gallery-container{
    #position:absolute;
    #top:20em;
    margin:0.25em;
    margin-top:3.5em;
    min-height:15em;
    #border:1px solid red;
    background:white;
    padding:0.5em;
    display:none;
}
.full-gallery-button.active  ~ .full-gallery-container{
    display:block;
}
.full-other-container{
    #position:absolute;
    #top:20em;
    margin:0.25em;
    margin-top:3.5em;
    min-height:15em;
    #border:1px solid red;
    background:white;
    padding:0.5em;
    display:none;
}
.full-other-button.active  ~ .full-other-container{
    display:block;
}
.full-img-gallery{
    display:inline-block;
    border:1px solid grey;
    width:10em;
    #height:10em;
    margin:0.5em;
    padding:0.5em;
    
}