.full-square{
    padding:2em;
}
.line{
    border:1px solid silver;
    margin:0.5em;
}
.inline{
    position:relative;
    width:10em;
    #margin:0 auto;
    margin:0 10em;
    font-weight:bold;
    #border:1px solid lime;
}
.register-field{
    background: rgba(255,255,255,0.8);
    line-height:2em;
    vertical-align:middle;
    border-top-right-radius: 20px;
    padding: 0 0 0 0.2em;
    position:absolute;
    left:20em;
}
.login-field{
    background: rgba(255,255,255,0.8);
    line-height:2em;
    display:block;
    position:absolute;    
    #border: 1px solid yellow;
}
.login-field.button{
    padding:1em;
    outline:0;
    margin:0;
}
input[name='user_email']{
    top:0.5em;
    right:13em;
    background: rgba(181,209,73,0.8);
}
input[name='user_password']{
    top:2.7em;
    right:13em;
    background: rgba(181,209,73,0.8);
}
input[name='user_check']{
    top:0.5em;
    right:7em;
    background: rgba(181,209,73,0.8);
}
input[name='user_logout']{
    top:0.5em;
    right:7em;
    background: rgba(200,24,37,0.8);
}
a[name='user_register']{
    top:0.5em;
    right:1em;
    background: rgba(237,155,56,0.8);
}
a[name='user_edit']{
    top:0.5em;
    right:14em;
    background: rgba(237,155,56,0.8);
}
a[name='user_basket']{
    top:0.5em;
    right:1em;
    background: rgba(181,209,73,0.8);
}
.register-field.button{
    background:silver;
    padding: 0 0.5em;
}
div.inline{
    display:inline-box;
    padding:1em;
}
.basket-field{
    background: rgba(255,255,255,0.8);
    padding:0.2em;
    
}
.basket-field.text{
    width:1em;
}
/*basket square*/
.square-link:hover{
    text-decoration:underline;
}
.bs-square{
    display:inline-block;
    margin:0.25em 0em 0.25em 0.5em;
    text-align: center;
    width:57em;
    #height:10em;
    border:1px solid rgba(255,255,255,0.5);
    vertical-align:middle;/*dziwne*//*nie dziwne tylko inline-block*/
    position:relative;
    top:0px;
}
.bs-square:hover{
    background: rgba(255,255,255,0.2);
}
.mini-image-bs-list{
    width:100%;
}
.bs-sq{/*all in*/
    padding:0.5em;
}
.bs-sq.img{
    width:5em;
    float:left;
}
.bs-sq.cat-main{}
.bs-sq.cat-sub{}
.bs-sq.name{
    display:inline-block;
    position:absolute;
    top:0.0em;
    left:6em;
    font-weight:600;
    padding:0.5em;
}
.bs-sq.price{
    display:inline-block;
    position:absolute;
    top:2.5em;
    left:6em;
}
.bs-sq.amount{
    display:inline-block;
    position:absolute;
    top:2.5em;
    left:22em;
}
.bs-sq.suma{
    display:inline-block;
    position:absolute;
    top:2.5em;
    left:32em;
}
.bs-sq.del{
    display:inline-block;
    position:absolute;
    top:2.5em;
    right:2em;
}
.bs-sq.drop{
    margin-left:50em;
}