@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&subset=latin-ext);
input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/**/
	outline: 0 none;
	text-decoration: none;
	background-color: transparent;
}
@font-face {
    font-family: vezus_light;
    src: url('../fonts/Vezus Light.otf');
	font-weight:bold;
}
#debugged{position:absolute; bottom:0px; right:0px; background-color:rgba(134,115,161,0.5); padding:10px; z-index:-1;}
.catch{position:absolute; bottom:0px; left:0px; background-color:rgba(134,115,161,0.5); padding:10px; z-index:-1;}
.catch_span{display:block;}
.center{text-align:center; width:300px; margin:0 auto;}
/*szkielet*/
body{
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	font-weight: 300;
}
#place-holder {
    width: 71.42em;
    min-height: 42.85em;
    margin: 0 auto;
}
div#buttons-place-holder{/*menu*/
	position:fixed;
	top:0.7em;
	width:1000px;
}
div#buttons{/*menu*/
	width:57.14em;
	margin: 0 auto;
	text-align:center;
}
div#files-place-holder{/*files*/
	position:absolute;
	top:11.42em;
	width:71.42em;
}
div#files-big{/*files*/
	width:57.14em;
	margin: 0 auto;
}
div#files{/*files*/
	position:absolute;
	margin: 0 auto;
}
div.line{
	position:relative;
	border-top:1px solid grey;
}
.one{
	top:7.2em;
}
.two{
	top:11.42em;
}
.upload-place-holder, .new-place-holder, .rename-place-holder{/*pojawiacze plh*/
	display:none;
	position:fixed;
	top:6.42em;
	width:71.42em;
	z-index:2;
}
.upload-form, .new-form, .rename-form{/*pojawiacze*/
	width:35.71em;
	margin: 0 auto;
}
/*wyglad*/
.cmd_input_sub{/*menu*/
	font-family: vezus_light;
	color: rgb(203,0,42);
	padding:2.85em 0.35em 0.71em 0.35em;
	transition: 70ms;
	background-color:rgba(134,115,161,0.5);
}
#przegladaj{
	padding:2.57em 0.35em 0.42em 0.35em;
}
.cmd_input_sub:hover{/*menu*/
	color: rgb(173,230,58);
	padding:2.85em 0.35em 0.71em 0.35em;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.10) inset;
	-moz-box-shadow:    0px 0px 10px 0px rgba(255, 255, 255, 0.10) inset;
	box-shadow:         0px 0px 10px 0px rgba(255, 255, 255, 0.10) inset;
}
.cmd_input_sub:active{/*menu*/
	color: rgb(255,102,0);
}
.text_input{/*pola textowe*/
	background-color:rgba(255,102,0,0.5);
}
.text_input:hover{
	color: rgb(203,0,42);
	background-color:rgba(173,230,58,0.5);
}
.cmd_span{/*back*/
    display:inline-block;
    width:17em;
	margin-left:0.21em;
}
.cmd_button{/*foldery*/
	border:0px;
	background-color: transparent;
	cursor:pointer;
	text-align:left;
	padding:0;
	margin:0;
	font-size: 100%;
	vertical-align: baseline;
	outline: 0 none;
	text-decoration: none;
	font-weight:bold;
}
.cmd_button:hover{
	color: rgb(173,230,58);
	text-decoration:underline;
}
.cmd_button[disabled]{/*kolor dla zablokowanego subminta folderu*/
	color: rgb(255,102,0);
	text-decoration:none;
}
.cmd_ico{/*ikony plików*/
	width:1.42em;
	height:1.42em;
	vertical-align: top;
	margin-left:0.42em;
}
.preview_span{/*podglad*/
	position:absolute;
	left:20.71em;
    width:10em;
}
.preview_span a:hover{
    text-decoration:underline;
    color:blue;
}
.create_time_span{
	position:absolute;
	left:26.42em;
	width:10em;
}
.modified_time_span{
	position:absolute;
	left:39.28em;
	width:10em;
}
.size_span{
	position:absolute;
	left:53.57em;
	width:5em;
}
#cmd_ico_back{/*ikona back*/
	margin-right:0.35em;
	margin-top:0.85em;
}
#cmd_button_back{
	font-size:2em;
}
/**/
input[type="checkbox"]{
    /*display:none;*/
}
input[type="checkbox"] + .cmd_ico + .cmd_span{/**/
	/*color: #cc990c;*/
}
input[type="checkbox"]:hover + .cmd_ico + .cmd_span {
	color: rgb(173,230,58);
}
input[type="checkbox"]:checked + .cmd_ico + .cmd_span,
input[type="checkbox"]:checked + .cmd_ico + .cmd_span+ .size_span,
input[type="checkbox"]:checked + .cmd_ico + .cmd_span+ .size_span+ .create_time_span,
input[type="checkbox"]:checked + .cmd_ico + .cmd_span+ .size_span+ .create_time_span+ .modified_time_span
{
	color: #FF6600;
}
input[type="checkbox"]:checked + .cmd_ico + .cmd_button,
input[type="checkbox"]:checked + .cmd_ico + .cmd_button+ .size_span,
input[type="checkbox"]:checked + .cmd_ico + .cmd_button+ .size_span+ .create_time_span,
input[type="checkbox"]:checked + .cmd_ico + .cmd_button+ .size_span+ .create_time_span+ .modified_time_span
{
	color: #FF6600;
}
.label_all{}
.label_all:hover{
	color: rgb(173,230,58);
}
.cmd_label_sub:before{
	content:'';
	display:inline-block;
	height: 2.21em;
	width: 2.21em;
	position:absolute;
	margin-top:0.35em;
}
#cut_label:before{
	margin-left:1.1em;
	background-image:url('../images/128/cut.png');/* no-repeat;*/
	background-size: 2.21em;
}
#copy_label:before{
	margin-left:1.1em;
	background-image:url('../images/128/copy.png');/* no-repeat;*/
	background-size: 2.21em;
}
#paste_label:before{
	margin-left:1.1em;
	background-image:url('../images/128/paste.png');/* no-repeat;*/
	background-size: 2.21em;
}
#delete_label:before{
	margin-left:1.1em;
	background-image:url('../images/128/delete.png');/* no-repeat;*/
	background-size: 2.21em;
}
#new_label:before{
	margin-left:1.1em;
	background-image:url('../images/128/new.png');/* no-repeat;*/
	background-size: 2.21em;
}
#rename_label:before{
	margin-left:3.1em;
	background-image:url('../images/128/rename3.png');/* no-repeat;*/
	background-size: 2.21em;
}
#upload_label:before{
	margin-left:2.4em;
	background-image:url('../images/128/upload.png');/* no-repeat;*/
	background-size: 2.21em;
}
#download_label:before{
	margin-left:1.6em;
	background-image:url('../images/128/download.png');/* no-repeat;*/
	background-size: 2.21em;
}
#clear_label:before{
	margin-left:0.9em;
	background-image:url('../images/128/refresh2.png');/* no-repeat;*/
	background-size: 2.21em;
}
#ok_label:before, #ok_label2:before{
	margin-left:0.3em;
	background-image:url('../images/128/ok.png');/* no-repeat;*/
	background-size: 2.21em;
}
#ok_label3:before{
	margin-left:1.3em;
	background-image:url('../images/128/ok.png');/* no-repeat;*/
	background-size: 2.21em;
}
#no_label:before, #no_label2:before, #no_label3:before{
	margin-left:1.3em;
	background-image:url('../images/128/no.png');/* no-repeat;*/
	background-size: 2.21em;
}
.right{
	float:right;
}